# .gitignore en la raíz del proyecto

# Node modules para backend y frontend
backend/node_modules/
frontend/node_modules/

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
backend/.env
frontend/.env

# Build del frontend (React)
frontend/build/

# Salida de producción o temporal del backend (si usas dist o similar)
backend/dist/
backend/build/

# Cache de npm o yarn
.backup/
.cache/
.pnp/
.pnp.js

# Archivos del sistema
.DS_Store
Thumbs.db

# Configs de editores (opcional)
.vscode/
.idea/
